.object-segmentation-container {
  padding: 20px;
  margin: 20px;
  text-align: left;
  background-color: #f9f9f9;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}

.segmentation-output {
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.object-segmentation-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
}
